*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
}

.wrap {
    margin: 0 auto;
    width: 20%;
}

.wrap > * {
    display: block;
    margin: 2% auto;
    padding: 2%;
    font-size: 20px;
}

.wrap > input {
    width: 80%;
}

.wrap > button {
    width: 30%;
    text-align: center;
}

.field {
    display: none;
}

.field__item {
    height: 60px;
    border: 1px solid gray;
}

.field__item > img {
    width: 100%;
    height: 100%;
    background-color: rgb(31, 27, 53);
}